.banner {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  flex-direction: column;

  @media (min-width: 512px) {
    flex-direction: row;
  }

  img {
    width: 300px;
  }

  h4 {
    font-weight: 500;
    font-size: 15px;
  }

  .profile-team {
    cursor: pointer;
    position: relative;

    svg {
      transition: all 300ms ease;
    }

    &:hover svg {
      transform: scale(1.05);
    }

    .count {
      position: absolute;
      bottom: 5px;
      right: 5px;
      cursor: initial;

      background-color: $primary;
      border-radius: 50%;
      color: $white;
      font-size: 12px;
      font-weight: 600;
      width: 20px;
      height: 20px;

      display: flex;
      justify-content: center;
      align-items: center;

      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
  }
}
