.card {
  padding: 20px;
  border-radius: 16px;
  margin-bottom: 30px;

  position: relative;
  box-shadow: 0px 1px 1px rgba($black, 0.3);
  transition: transform 0.3s ease-out;
  cursor: pointer;
  backdrop-filter: blur(5px);
  &-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    // margin-bottom: 80px;

    img {
      width: 130px;
      height: 130px;
      margin-bottom: 8px;
      transition: all 300ms ease;
    }
  }

  &-body {
    text-align: center;
    h6 {
      color: $grey;
      margin-bottom: 8px;
    }

    h3 {
      font-weight: 600;
      font-size: 20px;
      line-height: 18px;
      margin-bottom: 16px;
      color: $grey;
    }

    &--spec {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }

  &-action {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;

    svg {
      height: 20px;
      width: 20px;
    }

    &--like {
      cursor: pointer;

      &:hover path {
        stroke: $red !important;
        fill: $red !important;
      }
    }
  }

  &-active path {
    stroke: $red !important;
    fill: $red !important;
  }

  &:hover {
    transform: translateY(-10px);
    transition: transform 0.3s ease-in;
    box-shadow: 8px 8px 18px rgba($primary, 0.3);
    // .card-img img {
    //   transform: scale(1.08);
    // }
  }

  &-Bug {
    background-color: rgba($Bug, 0.6);
  }

  &-Dark {
    background-color: rgba($Dark, 0.6);
  }

  &-Dragon {
    background-color: rgba($Dragon, 0.6);
  }

  &-Electric {
    background-color: rgba($Electric, 0.6);
  }

  &-Fairy {
    background-color: rgba($Fairy, 0.6);
  }

  &-Fighting {
    background-color: rgba($Fighting, 0.6);
  }

  &-Fire {
    background-color: rgba($Fire, 0.6);
  }

  &-Flying {
    background-color: rgba($Flying, 0.6);
  }

  &-Ghost {
    background-color: rgba($Ghost, 0.6);
  }

  &-Grass {
    background-color: rgba($Grass, 0.6);
  }

  &-Ground {
    background-color: rgba($Ground, 0.6);
  }

  &-Ice {
    background-color: rgba($Ice, 0.6);
  }

  &-Normal {
    background-color: rgba($Normal, 0.6);
  }

  &-Poison {
    background-color: rgba($Poison, 0.6);
  }

  &-Psychic {
    background-color: rgba($Psychic, 0.6);
  }

  &-Rock {
    background-color: rgba($Rock, 0.6);
  }

  &-Steel {
    background-color: rgba($Steel, 0.6);
  }

  &-Water {
    background-color: rgba($Water, 0.6);
  }
}
